.kuang{
	position:absolute;
	height: 1549px;
	left: 160px;
	top: 166px;
	width: 1011px;
}
.head{
	position:absolute;
	left: 3px;
	top: 5px;
	height: 196px;
	width: 590px;
}
.like{
	position:absolute;
	left: 645px;
	top: 46px;
	height: 70px;
	width: 358px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #1AA5EB
}
.yingyong{
	position:absolute;
	top: 253px;
	height: 241px;
	width: 190px;
	left: 20px;
}
.jietu{
	position:absolute;
	left: 255px;
	top: 253px;
	height: 414px;
	width: 701px;
}
.jieshao{
	position:absolute;
	left: 255px;
	top: 687px;
	height: 39px;
	width: 702px;
}
.jieshao2{
	position:absolute;
	left: 255px;
	top: 734px;
	height: 220px;
	width: 703px;
}
.pinglun{
	position:absolute;
	left: 254px;
	top: 963px;
	height: 30px;
	width: 136px;
}
.pinglunkuang{
	position:absolute;
	left: 253px;
	top: 1024px;
	height: 192px;
	width: 706px;
}
.pingluntu{
	position:absolute;
	left: 825px;
	top: 1270px;
	height: 32px;
}
.pinglunren{
	position:absolute;
	left: 256px;
	top: 1366px;
	width: 717px;
	height: 100px;
}
.tonglei{
	position:absolute;
	left: 16px;
	top: 622px;
	height: 1000px;
	width: 199px;
}
.dibu{
	position:absolute;
	top:550px;
}
